@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  font-family: "Kumbh Sans", sans-serif; }

.header-container {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px; }
  .header-container__navegation {
    width: 175px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-container__menu:hover {
    cursor: pointer; }
  .header-container__carrito-avatar {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-container__carrito {
    position: relative; }
    .header-container__carrito--notif {
      display: none;
      background-color: #7134b4;
      width: 15px;
      height: 12px;
      border-radius: 16px;
      position: absolute;
      top: -2px;
      right: -5px;
      font-size: 0.6em;
      text-align: center;
      color: white; }
    .header-container__carrito:hover {
      cursor: pointer; }
  .header-container__avatar {
    width: 24px; }
    .header-container__avatar:hover {
      cursor: pointer;
      border: 2.5px solid #7134b4;
      border-radius: 50%; }

.navbar {
  display: none;
  width: 400px; }
  .navbar__items {
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .navbar__link {
    text-decoration: none;
    color: #68707d;
    display: block;
    height: 112px;
    padding-top: 42px; }
    .navbar__link:hover {
      border-bottom: 4px solid #7134b4; }

.modal-navbar {
  display: none;
  background-color: white;
  width: 250px;
  height: 100%;
  padding: 28px 24px; }
  .modal-navbar__background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1; }
  .modal-navbar__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    list-style: none;
    margin-top: 50px; }
  .modal-navbar__link {
    text-decoration: none;
    color: #1d2025;
    font-weight: 700;
    font-size: 1.1em; }
  .modal-navbar__close-icon:hover {
    cursor: pointer; }

.main-container {
  width: 375px;
  margin: auto;
  position: relative; }

.gallery__img-container {
  height: 500px;
  width: 100%;
  background-image: url("../../assets/img/iphone-14-pro-max-uno.jpg");
  background-position-y: -35px;
  background-size: cover; }
  .gallery__img-container:hover {
    cursor: pointer; }

.gallery__previous {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 280px;
  left: 15px; }
  .gallery__previous:hover {
    cursor: pointer; }

.gallery__next {
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: 280px;
  left: 320px; }
  .gallery__next:hover {
    cursor: pointer; }

.gallery__thumbnails {
  display: none; }

.details {
  padding: 24px; }
  .details__company {
    color: #7134b4;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-bottom: 12px; }
  .details__title {
    font-size: 1.7em;
    margin-bottom: 16px; }
  .details__description {
    font-size: 0.94em;
    color: #68707d;
    line-height: 24px;
    margin-bottom: 24px; }
  .details__prices {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center; }
  .details__now {
    font-size: 1.8em;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 18px; }
  .details__discount {
    font-size: 0.5em;
    background-color: #ba90dc;
    color: #7134b4;
    padding: 4px;
    border: 4px; }
  .details__before {
    font-weight: 700;
    color: #68707d;
    text-decoration: line-through; }
  .details__button {
    background-color: #7134b4;
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 12px; }
    .details__button:hover {
      cursor: pointer;
      opacity: 0.5; }

.input {
  height: 57px;
  display: flex;
  justify-content: space-between; }
  .input__minus {
    background-color: #f7f8fd;
    width: 25px;
    height: 100%;
    padding: 24px 5px; }
    .input__minus:hover {
      cursor: pointer; }
  .input__number {
    width: 100%;
    border: none;
    background-color: #f7f8fd;
    font-size: 1.2em;
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    outline: none; }
  .input__plus {
    background-color: #f7f8fd;
    width: 25px;
    height: 100%;
    padding: 19px 3px; }
    .input__plus:hover {
      cursor: pointer; }

.carrito-modal {
  display: none;
  width: 360px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px;
  position: absolute;
  top: 75px;
  right: 6px;
  background-color: white; }
  .carrito-modal__title {
    font-weight: 700;
    padding-bottom: 12px;
    padding-left: 22px;
    border-bottom: 1px solid #b6bcc8; }
  .carrito-modal__checkout-container {
    padding: 16px; }
  .carrito-modal__details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    color: #68707d; }
  .carrito-modal__img {
    width: 50px;
    height: 50px;
    border-radius: 4px; }
  .carrito-modal__price span {
    color: black;
    font-weight: 700; }
  .carrito-modal__delete:hover {
    cursor: pointer; }
  .carrito-modal__checkout {
    background-color: #7134b4;
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; }
    .carrito-modal__checkout:hover {
      cursor: pointer;
      opacity: 0.5; }

.modal-gallery {
  width: 570px; }
  .modal-gallery__background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    display: none;
    place-content: center; }
  .modal-gallery__close-container {
    text-align: right;
    height: 30px; }
  .modal-gallery__close {
    width: 16px; }
    .modal-gallery__close:hover {
      cursor: pointer;
      content: url("../../assets/img/icon-close-purple.svg"); }
  .modal-gallery__img-container {
    height: 500px;
    background-image: url("../../assets/img/iphone-14-pro-max-uno.jpg");
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 32px;
    position: relative; }
  .modal-gallery__previous {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 280px;
    left: -15px;
    display: block; }
    .modal-gallery__previous:hover {
      cursor: pointer; }
  .modal-gallery__next {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 280px;
    left: 545px;
    display: block; }
    .modal-gallery__next:hover {
      cursor: pointer; }
  .modal-gallery__thumbnails {
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin: auto; }
  .modal-gallery__thumbnail {
    width: 90px;
    border-radius: 16px; }
    .modal-gallery__thumbnail:hover {
      cursor: pointer;
      border: 2px solid #7134b4; }

/* Clases adicional para mostrar u ocultar cuando se producen eventos con js */
.show {
  display: block; }

.cart-empty {
  text-align: center;
  margin-top: 36px;
  font-weight: 700;
  color: #1d2025; }

@media (min-width: 1115px) {
  .main-container {
    width: 1115px; }
  .header-container {
    height: 112px;
    border-bottom: 1px solid #b6bcc8; }
    .header-container__navegation {
      width: 590px; }
    .header-container__menu {
      display: none; }
    .header-container__carrito-avatar {
      width: 125px; }
    .header-container__avatar {
      width: 48px; }
  .navbar {
    display: block; }
  .gallery {
    width: 446px; }
    .gallery__img-container {
      height: 446px;
      border-radius: 16px;
      margin-bottom: 32px;
      background-position-y: 30; }
    .gallery__thumbnails {
      display: flex;
      justify-content: space-between; }
    .gallery__thumbnail {
      width: 90px;
      border-radius: 16px; }
      .gallery__thumbnail:hover {
        cursor: pointer;
        border: 2px solid #7134b4; }
    .gallery__previous {
      display: none; }
    .gallery__next {
      display: none; }
  .content {
    display: flex;
    padding: 90px 50px;
    gap: 124px; }
  .details {
    width: 446px;
    padding-top: 60px; }
    .details__title {
      font-size: 2.7em;
      margin-bottom: 48px; }
    .details__description {
      font-size: 0.9em;
      margin-bottom: 37px; }
    .details__prices {
      flex-direction: column;
      align-items: flex-start; }
    .details__product-quantity {
      display: flex;
      gap: 32px; } }
