.header-container{
    height: 68px;                   // medido con programa
    display: flex;
    align-items: center;
    justify-content: space-between; // genera un espacio entre los elementos contenidos
    padding: 0 24px;                // arriba-abajo izquieda-derecha
    &__navegation{
        width: 175px;
        height: 100%; // crece hasta el limite para que al aplicarle hover lo haga sobre la linea gris
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__menu{
        &:hover{
            cursor: pointer;
        }
    }
    &__carrito-avatar{
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__carrito{
        position: relative; // para el contador de compras haga referencia al elemento carrito
        &--notif{
            display: none; // solo aparece cuando se realice una compra
            background-color: $purple;
            width: 15px;
            height: 12px;
            border-radius: 16px;
            position: absolute; // con absolute, puedo modificar su posicion (eje x y eje y)
            top: -2px;  // empuja de arriba hacia abajo
            right: -5px; // empuja de derecha a izquierda
            font-size: 0.6em;
            text-align: center;
            color: $white;
        }
        &:hover{
            cursor: pointer;
        }

    }
    &__avatar{
        width: 24px;
        &:hover{
            cursor: pointer;
            border: 2.5px solid $purple;
            border-radius: 50%;
        }
    }
}

.navbar{
    display: none; // se oculta porque estoy en version mobile
    width: 400px;
    &__items{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__link{
        text-decoration: none;
        color: $dark-grayish-blue;
        display: block; // como el link es un elemento de linea, no puedo modificarle ancho y alto pero con display block si
        height: 112px;
        padding-top: 42px;
        &:hover{
            border-bottom: 4px solid $purple;
        }
    }
}

.modal-navbar{
    // display: none; // se oculta porque estoy en version mobile y se abre cuando se clickea el menu hamburguesa
    background-color: $white;
    width: 250px;
    height: 100%;
    padding: 28px 24px;
    &__background{
        @include modalBackground;
    }
    &__items{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        list-style: none;
        margin-top: 50px;
    }
    &__link{
        text-decoration: none;
        color: $very-dark-blue;
        font-weight: 700;
        font-size: 1.1em;

    }
    &__close-icon:hover{
        cursor: pointer;
    }
}
