.main-container{
    width: 375px;
    margin: auto; // Centra el contenedor
    position: relative; // para que la modal navbar referencie a el
}

.gallery{
    &__img-container{
        height: 500px;
        width: 100%;
        background-image: url('../../assets/img/iphone-14-pro-max-1.jpg');
        background-position-y: -35px; // hago subir la imagen de fondo hacia arriba
        background-size: cover;
        &:hover{
            cursor: pointer;
        }
    }
    &__previous{
        @include imageBtn(280px,15px);
    }
    &__next{
        @include imageBtn(280px,320px);
    }
    &__thumbnails{
        display: none;
    }
}

.details{
    padding: 24px;
    &__company{
        color: $purple;
        text-transform: uppercase; // a mayusculas
        font-size: 0.8em;
        letter-spacing: 1px; // espacio entre letra y letra
        margin-bottom: 12px;
    }
    &__title{
        font-size: 1.7em;
        margin-bottom: 16px;
    }
    &__description{
        font-size: 0.94em;
        color: $dark-grayish-blue;
        line-height: 24px;
        margin-bottom: 24px;
    }
    &__prices{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        align-items: center;
    }
    &__now{
        font-size: 1.8em;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 18px;
    }
    &__discount{
        font-size: 0.5em;
        background-color: $pale-purple;
        color: $purple;
        padding: 4px;
        border: 4px;
    }
    &__before{
        font-weight: 700;
        color: $dark-grayish-blue;
        text-decoration: line-through; // tachar el elemento
    }
    &__button{
        @include button;
        margin-top: 12px;

    }
}

.input{
    height: 57px;
    display: flex;
    justify-content: space-between;
    &__minus{
        background-color: $light-grayish-blue;
        @include changeNumber(24px, 5px);
    }
    &__number{
        width: 100%;
        border: none;
        background-color: $light-grayish-blue;
        font-size: 1.2em;
        font-weight: 700;
        font-family: $font;
        text-align: center;
        outline: none; // elimina el borde al clikear el contador
    }
    &__plus{
        background-color: $light-grayish-blue;
        @include changeNumber(19px, 3px);
    }
}

.carrito-modal{
    display: none; // solo aperece cuando se clickea
    width: 360px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px;
    position: absolute;
    top: 75px;
    right: 6px;
    background-color: $white;
    &__title{
        font-weight: 700;
        padding-bottom: 12px;
        padding-left: 22px;
        border-bottom: 1px solid $grayish-blue;
    }
    &__checkout-container{
        padding: 16px;
    }
    &__details-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        color: $dark-grayish-blue;
    }
    &__img{
        width: 50px;
        height: 50px;
        border-radius: 4px;
    }
    &__price span{
        color: $black;
        font-weight: 700;
    }
    &__delete:hover{
        cursor: pointer;
    }
    &__checkout{
        @include button;
    }
}

.modal-gallery{
    width: 570px;
    &__background{
        @include modalBackground;
        display: none; // inicialmente esta oculto
        // display: grid; // cuando haga click, lo aplico
        place-content: center;
    }
    &__close-container{
        text-align: right;
        height: 30px;
    }
    &__close{
        width: 16px;
        &:hover{
            cursor: pointer;
            content: url('../../assets/img/icon-close-purple.svg'); // cambia el elemento seleccionado
        }
    }
    &__img-container{
        height: 500px;
        background-image: url('../../assets/img/iphone-14-pro-max-1.jpg');
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 32px;
        position: relative;
    }
    &__previous{
        @include imageBtn(280px,-15px);
        display: block;
    }
    &__next{
        @include imageBtn(280px,570px);
        display: block;
    }
    &__thumbnails{
        width: 450px;
        display: flex;
        justify-content: space-between;
        margin: auto; // centra todos los elementos del contenedor
    }
    &__thumbnail{
        width: 90px;
        border-radius: 16px;
        &:hover{
            cursor: pointer;
            border: 2px solid $purple;
        }
    }
}

/* Clases adicional para mostrar u ocultar cuando se producen eventos con js */

.show{
    display: block;
}

.cart-empty{
    text-align: center;
    margin-top: 36px;
    font-weight: 700;
    color: $very-dark-blue;
}



