@media(min-width:1115px){
    .main-container{
        width: 1115px;
    }

    .header-container{
        height: 112px;
        border-bottom: 1px solid $grayish-blue; // linea gris es version desktop
        &__navegation{
            width: 590px;
        }
        &__menu{
            display: none; // se borra el menu hamburguesa en version desktop
        }
        &__carrito-avatar{
            width: 125px;
        }
        &__avatar{
            width: 48px;
        }
    }

    .navbar{
        display: block; // se muestra en version desktop
    }

    .gallery{
        width: 446px;
        &__img-container{
            height: 446px;
            border-radius: 16px;
            margin-bottom: 32px;
            background-position-y: 30;
        }
        &__thumbnails{
            display: flex;
            justify-content: space-between;
        }
        &__thumbnail{
            width: 90px;
            border-radius: 16px;
            &:hover{
                cursor: pointer;
                border: 2px solid $purple;
            }
        }
        &__previous{
            display: none;
        }
        &__next{
            display: none;
        }
    }

    .content{
        display: flex;
        padding: 90px 50px;
        gap: 124px;

    }

    .details{
        width: 446px;
        padding-top: 60px;
        &__title{
            font-size: 2.7em;
            margin-bottom: 48px;
        }
        &__description{
            font-size: 0.9em;
            margin-bottom: 37px;
        }
        &__prices{
            flex-direction: column;
            align-items: flex-start;
        }
        &__product-quantity{
            display: flex;
            gap: 32px;
        }
    }
}



